//
//  app-debug.xcconfig
//  Health
//
//  Created by 김건우 on 8/7/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:\/\/kdt-api-function.azurewebsites.net
CLIENT_ID = 596b81f5-a038-442c-9dfd-a68690cd0045
BUNDLE_IDENTIFIER = com.jj.walking
TOUR_API_SERVICE_KEY = YDfkcjMj2vY5nVcwujxmL5GCXtYT/Wn2bDr3w7XK9UQ5ZqxVHiKJFUrL1NbY4qLQSqCF2EUONsOhw+gPZCdGqg==
