//
//  app-release.xcconfig
//  Health
//
//  Created by 김건우 on 8/7/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:\/\/kdt-api-function.azurewebsites.net
CLIENT_ID = 596b81f5-a038-442c-9dfd-a68690cd0045
BUNDLE_IDENTIFIER = com.jseongee.walking
TOUR_API_SERVICE_KEY = YDfkcjMj2vY5nVcwujxmL5GCXtYT/Wn2bDr3w7XK9UQ5ZqxVHiKJFUrL1NbY4qLQSqCF2EUONsOhw+gPZCdGqg==

// e81b1b0e-3e14-4d0d-9964-d2649364952c // 김건우
// 53da72ed-5464-4c06-b59a-75cca4d52cbb // 권도현
// e81b1b0e-3e14-4d0d-9964-d2649364952c // 김건우
// 1bc0bfaf-e5d9-447f-8e6c-6a990f8edecf // 김서현
// 596b81f5-a038-442c-9dfd-a68690cd0045 // 김종성
// 839ea39d-dc2b-406c-8700-8ad4525d39ea // 노기승
// 131c692d-80ef-4fc8-b01a-6c8f593b53e7 // 하재준
