<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO7En9c5DoSlXEnNHMsyAA60QOpL19F6g</string>
	<key>GCM_SENDER_ID</key>
	<string>662323906996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.est-3rd.Health</string>
	<key>PROJECT_ID</key>
	<string>est-3rd</string>
	<key>STORAGE_BUCKET</key>
	<string>est-3rd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662323906996:ios:0dbe23189a96de4b190ae1</string>
</dict>
</plist>